.socials-list, .site-nav, .contacts-header, .features-list, .service-list, .team-list, .clients-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo, .socials-link, .site-nav .link, .contacts-header .link, .clients-link, .contacts-footer .link {
  text-decoration: none;
}

.icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
}

.logo {
  display: block;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}

.logo-header .logo-studio {
  color: #212121;
}

.logo-footer .logo-studio {
  color: #ffffff;
}

.logo-footer {
  margin-bottom: 20px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list .item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Roboto;
  font-size: 16px;
  border: transparent;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover, .button.primary:focus {
  color: #2196f3;
  background-color: #ffffff;
  cursor: pointer;
}

.button.secondary {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.button.secondary:hover, .button.secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
  background-color: #2f303a;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  color: #212121;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  width: 18px;
  height: 18px;
}

.close-btn:hover,
.close-btn:focus {
  fill: #2196f3;
  cursor: pointer;
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.user-label {
  display: block;
  margin-bottom: 4px;
}

.user-label:hover {
  cursor: pointer;
}

.user-label,
.user-input {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400px;
  letter-spacing: 0.01em;
}

.input-field {
  position: relative;
}

.user-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input:focus {
  border-color: #2196f3;
}

.user-input:focus + .icon {
  fill: #2196f3;
}

.user-form .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
}

.form-comment {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: #2196f3;
}

.form-comment:focus::placeholder {
  color: #2196f3;
}

.policy-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-label {
  position: relative;
  padding-left: 24px;
  display: inline-block;
  font-size: 14px;
  line-height: 1.714;
  font-weight: 400px;
}

.policy-label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: center;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.policy-checkbox:checked + .policy-label::before {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/modal/icon-checked.svg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.policy-link {
  cursor: pointer;
  color: #2196f3;
}

.user-form .button.primary {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.user-form .button.primary:hover, .user-form .button.primary:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header-bordered {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: scaleX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
  color: #2196f3;
}

.link.current::after {
  transform: scaleX(1);
}

.site-nav .link:hover::after,
.site-nav .link:focus::after {
  transform: scaleX(1);
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-header .link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header .link:hover, .contacts-header .link:focus {
  color: #2196f3;
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg.jpg");
  max-width: 1600px;
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-box {
  max-width: 696px;
}

.hero-box .title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features-list {
  display: flex;
}

.features-list .item {
  width: calc((100% - 3 * 30px) / 4);
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400px;
  text-transform: uppercase;
  text-align: left;
}

.features-list .text {
  line-height: 1.71;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.section.service {
  padding-top: 0;
}

.service-list {
  display: flex;
  justify-content: wrap;
  align-items: start;
}

.service-list .item {
  position: relative;
  width: 370px;
}

.service-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.service-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.service-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service-overlay .text {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.our-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list > .item {
  text-align: center;
  background-color: #ffffff;
  width: calc((100% - 3 * 30px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list > .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.team-list .text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
}

.member-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials-link.member {
  background-color: #ffffff;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link.member:hover, .socials-link.member:focus {
  fill: #ffffff;
}

.clients-list {
  display: flex;
  justify-content: wrap;
  align-items: center;
}

.clients-list .item {
  width: calc((100% - 5 * 30px) / 6);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.icon-clients {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .icon-clients,
.clients-link:focus .icon-clients {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-box:nth-child(1) {
  margin-right: 70px;
}

.footer-box:nth-child(2) {
  margin-right: 93px;
}

.contacts-footer {
  font-style: normal;
  line-height: 1.71;
}

.contacts-footer .link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer .link:hover, .contacts-footer .link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.contacts-footer .link:not(:last-child) {
  margin-bottom: 9px;
}

.contacts .location {
  color: #ffffff;
}

.footer-calling {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.socials-link.company {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #2196f3;
}

.mailing-box {
  display: inline-block;
  position: relative;
}

.label-mailing {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-mailing,
.input-mailing {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.input-mailing {
  background-color: transparent;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.input-mailing:focus + .label-mailing,
.input-mailing:not(:placeholder-shown) + .label-mailing {
  transform: translate(-150%, -50%);
  color: #ffffff;
}

.button-mailing {
  margin-left: 12px;
}

.button-mailing:hover .icon-plane,
.button-mailing:focus .icon-plane {
  fill: #2196f3;
}

.icon-plane {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */