.socials-list, .site-nav, .contacts-header, .filter-list, .portfolio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo, .socials-link, .site-nav .link, .contacts-header .link, .porfolio-link, .contacts-footer .link {
  text-decoration: none;
}

.icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
}

.logo {
  display: block;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}

.logo-header .logo-studio {
  color: #212121;
}

.logo-footer .logo-studio {
  color: #ffffff;
}

.logo-footer {
  margin-bottom: 20px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list .item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Roboto;
  font-size: 16px;
  border: transparent;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover, .button.primary:focus {
  color: #2196f3;
  background-color: #ffffff;
  cursor: pointer;
}

.button.secondary {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.button.secondary:hover, .button.secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header-bordered {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: scaleX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
  color: #2196f3;
}

.link.current::after {
  transform: scaleX(1);
}

.site-nav .link:hover::after,
.site-nav .link:focus::after {
  transform: scaleX(1);
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-header .link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header .link:hover, .contacts-header .link:focus {
  color: #2196f3;
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0px;
}

.porfolio-link {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-link:hover, .porfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.porfolio-content {
  width: 100%;
  padding: 20px 24px;
}

.porfolio-content .title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  font-weight: 400px;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-list .text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 322px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400px;
  color: #ffffff;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-link:hover .thumb-overlay,
.porfolio-link:focus .thumb-overlay {
  transform: translateY(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-box:nth-child(1) {
  margin-right: 70px;
}

.footer-box:nth-child(2) {
  margin-right: 93px;
}

.contacts-footer {
  font-style: normal;
  line-height: 1.71;
}

.contacts-footer .link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer .link:hover, .contacts-footer .link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.contacts-footer .link:not(:last-child) {
  margin-bottom: 9px;
}

.contacts .location {
  color: #ffffff;
}

.footer-calling {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.socials-link.company {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #2196f3;
}

.mailing-box {
  display: inline-block;
  position: relative;
}

.label-mailing {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-mailing,
.input-mailing {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.input-mailing {
  background-color: transparent;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.input-mailing:focus + .label-mailing,
.input-mailing:not(:placeholder-shown) + .label-mailing {
  transform: translate(-150%, -50%);
  color: #ffffff;
}

.button-mailing {
  margin-left: 12px;
}

.button-mailing:hover .icon-plane,
.button-mailing:focus .icon-plane {
  fill: #2196f3;
}

.icon-plane {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */