.contacts-header {
  display: none;
  margin-left: auto;
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
  .item {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: block;
    }
  }
}

.contacts-header .item:not(:last-child) {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.contacts-header .link {
  @extend %link;
  display: inline-flex;
  align-items: center;

  @include font(12px, 1.166, 500);
  letter-spacing: 0.02em;
  color: $primaryTextColor;
  transition: 250ms $cubic;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(14px, 1.143, 500);
  }
}
.icon-contacts {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}
.icon-envelope {
  width: 16px;
  height: 11px;

  @media screen and (min-width: $tablet) {
    height: 10px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 14px;
  }
  @media screen and (min-width: $desktop) {
    height: 12px;
  }
}
.icon-smartphone {
  width: 10px;
  height: 15px;

  @media screen and (min-width: $tablet) {
    height: 14px;
  }
  @media screen and (min-width: $desktop) {
    height: 16px;
  }
}
