.header {
  background-color: $white;
  border: 1px solid #ececec;

  &-bordered {
    border-bottom: 1px solid $borderHeader;
  }
  @media screen and (max-width: 767px) {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
  }
}
.header-container {
  display: flex;
  align-items: center;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}
