.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $primaryBgColor;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-container {
  @media screen and (min-width: $tablet) {
    @include flex(flex, space-around, baseline);
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    justify-content: center;
  }
}
