.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $primaryBgColor;
}

.footer-container {
  @include flex(flex, space-between, baseline);
}

.footer-box:nth-child(1) {
  margin-right: 70px;
}
.footer-box:nth-child(2) {
  margin-right: 93px;
}
