.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $overlayBackdrop;
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms $cubic;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
