.logo {
  display: block;

  color: $accentColor;
  font-family: Raleway;
  @include font(24px, 1.167, 700);
  @extend %link;
  @media screen and (min-width: $desktop) {
    @include font(26px, 1.19, 700);
  }
}
.logo-header .logo-studio {
  color: $titleColor;
}
.logo-footer .logo-studio {
  color: $white;
}
.logo-footer {
  margin-bottom: 20px;
}
