.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
  background-color: $primaryBgColor;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms $cubic, background-color 350ms $cubic;
}
.modal .title {
  margin-top: 0;
  margin-bottom: 12px;
  @include font(20px, 1.15, 700);
  color: $titleColor;
  text-align: center;
}
