body {
  color: $primaryTextColor;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: $white;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .title {
    margin-bottom: 30px;

    color: $titleColor;

    @include font(28px, 1.178, 700);
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      @include font(36px, 1.166, 700);
    }
  }
}
