$cubic: cubic-bezier(0.4, 0, 0.2, 1);

$primaryTextColor: #757575;
$titleColor: #212121;
$accentColor: #2196f3;
$footerTextColor: rgba(255, 255, 255, 0.6);

$white: #ffffff;
$primaryBgColor: #2f303a;
$secondaryBgColor: #f5f4fa;

$socialsBg: rgba(255, 255, 255, 0.1);
$socialColor: #afb1b8;

$borderHeader: #ececec;
$borderPortfolio: #eeeeee;

$overlayService: rgba(47, 48, 58, 0.8);
$overlayPortfolioCard: rgba(33, 150, 243, 0.9);
$overlayBackdrop: rgba(0, 0, 0, 0.2);
