.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlayPortfolioCard;
  transform: translateY(100%);
  transition: 250ms $cubic;
}

.thumb-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 322px;

  @include font(18px, 1.55);
  color: $white;

  transform: translate(-50%, -50%);
  transition: transform 250ms $cubic;
}
.porfolio-link:hover .thumb-overlay,
.porfolio-link:focus .thumb-overlay {
  transform: translateY(0);
}
